body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  font-size: 16px;
  margin: 20px;
}

/* Media query for screens smaller than 768px */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
}

/* Media query for screens smaller than 480px */
@media screen and (max-width: 480px) {
  h1 {
    width: 90%;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #000;
  color: #fff;
}

.heading {
  margin: 0;
  margin-left: 10px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 128px;
  line-height: 155px;
  color: #FFFFFF;
}

.search-form {
  display: flex;
  align-items: center;
}

.search-form input[type="text"] {
  padding: 5px;
  border-radius: 5px;
  border: none;
  margin-right: 5px;
  width: 200px;
}

.search-form button[type="submit"] {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  margin-right: 10px;
}

.language-button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: #333;
  color: #fff;
  margin-bottom: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.column {
  flex: 1;
  height: 700px; /* Set height as per your requirement */
  margin: 0.1px;
  background-color: #f0f0f0;
  color: #000;
}
.s-column{
  
  flex: 1;
  height: 100px; /* Set height as per your requirement */
  margin: 0.1px;
  background-color: #ccc;
  color: #000; 
}
.card {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 90px;
  margin-top: 20px;
  margin-left: 25px;
  background: #fff;
  border: 3px solid #000;
  border-radius: 43px;
}
.card span {
  font-size: 48px;
  font-weight: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin: -10px; /* negative margin to counteract padding */
}

.col {
  flex: 1;
  padding: 10px; /* padding to create space between columns */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

p {
  font-size: 16px;
  margin-bottom: 20px;
}